body{
    background-image: url(images/pattern-background-desktop.svg);  
    background-size: cover; 
}

.totalblock{
    background-color: white;
    border: none;
    margin: 5px;
    padding: 0px;
    width: 450px;
}

.button1{
    padding: 15px;
    padding-left: 80px;
    padding-right: 80px;
}